<app-navbar></app-navbar>

<div class="container mt-5 bg-white">
  <div class="row mt-5">
    <div class="col-12 col-lg-6 my-4">
      <h1 class="text-center mb-3">Misión/Visión</h1>
      <div class="text-center">
        <p class="fs-5">
          Vision: Ser proveedor mas rentable, querido y respetado de mi trabajo contribuyendo al progreso de las compañias 
          Mision: Comprometido en ayudar a la prosperidad de mis clientes y en permanente deteccion de oportunidades.
        </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 my-4">
      <div class="d-flex justify-content-center align-items-center">
        <img [src]="image" alt="image" class="w-50 h-50">
      </div>
    </div>
  </div>
</div>
